<!DOCTYPE html>
<html>
    <head>
        <title>PBSC: Atividades</title>
        <%- include('meta'); %>

        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="../src/todasAtividades.js" type="text/javascript"></script>
        <script src="../src/botao_excluir.js" type="text/javascript"></script>
        <script src="../src/botao_concluir.js" type="text/javascript"></script>
        <script src="../src/botao_andamento.js" type="text/javascript"></script>

        
        <link rel="stylesheet" type="text/css" href="../styles/main.css">
    </head>
    <body>
        <%- include('navPlan'); %>
        

        <header class="container mb-0">
            <hr>
            <h1>Planejamento</h1>
        </header>

        <main class="container">
            <h2>Lista de Atividades</h2>

            <section>
            
                <div class="row" id="Ativ">

                </div>
            
            </section>
            
        </main>
        
    </body>

</html>

