<!DOCTYPE html>
<html>
    <head>
        <title>Planejamento: Lista de Atividades</title>
        <%- include('meta'); %>
    </head>
    <body>
        <%- include('nav'); %>
        <main class="container">
            <div class="row mgresp" id="Ativ"></div>
        </main>
    </body>
    <%- include('scripts'); %>
    <script src="../src/todasAtividades.js" type="text/javascript"></script>
    <script src="../src/botao_excluir.js" type="text/javascript"></script>
    <script src="../src/botao_concluir.js" type="text/javascript"></script>
    <script src="../src/botao_andamento.js" type="text/javascript"></script>
    <script src="../src/emconstrucao.js" type="text/javascript"></script>
    <script src="../src/expandirCard.js" type="text/javascript"></script>
    <script src="../src/colorirStatus.js" type="text/javascript"></script>
    <script src="../src/stringDataBr.js" type="text/javascript"></script>
</html>

