<div onclick="javascript: obterLocalAtual()" class="localIco localIco1" data-toggle="tooltip" title="IR PARA: Meu Local Atual">
    <p class="fas">&#xf05b;</p>
</div>

<div onclick="javascript: mostrarBtnIniciar()" class="fas localIco localIco3" data-toggle="tooltip" title="Encerrar atividade" id="btnAcabarRun">
    Encerrar
</div>

<div onclick="javascript: mostrarBtnEncerrar()" class="localIco localIco2 fas" data-toggle="tooltip" title="Iniciar Corrida" id="btnIniciarRun">
    Iniciar
</div>