
<section>
            
    <div class="row">

        <div class="col-sm col-md-6 col-xl-3">

            <div class="card mt-2">
    
                <div class="card-header pl-2 pr-0">
                    <div class="d-flex flex-row">
                        <div class="align-middle">
                            <div class="bola bg-danger text-white font-weight-bold">
                                <i class='fas'>&#xf134;</i>
                            </div>
                        </div>
                        <div class="pl-2 pr-2">
                            <h3><div id="tituloAtividade">Exemplo Atividade</div></h3>
                        </div>
                      </div>
                </div>
                
                <div class="card-body">
                    Corpo da Atividade
                </div>

            </div>

        </div>

        <div class="col-sm col-md-6 col-xl-3">

            <div class="card mt-2">
    
                <div class="card-header pl-2 pr-0">
                    <div class="d-flex flex-row">
                        <div class="align-middle">
                            <div class="bola bg-warning text-black font-weight-bold">
                                <i class='fas'>&#xf071;</i>
                            </div>
                        </div>
                        <div class="pl-2 pr-2">
                            <h3>Teste maluco do Bruno para saber se cabe</h3>
                        </div>
                      </div>
                </div>
                
                <div class="card-body">
                    Corpo da Atividade
                </div>

            </div>

        </div>

        <div class="col-sm col-md-6 col-xl-3">

            <div class="card mt-2">
    
                <div class="card-header pl-2 pr-0">
                    <div class="d-flex flex-row">
                        <div class="align-middle">
                            <div class="bola bg-success text-white font-weight-bold">
                                <i class='fas'>&#xf46c;</i>
                            </div>
                        </div>
                        <div class="pl-2 pr-2">
                            <h3>Teste maluco do Bruno para saber se cabe</h3>
                        </div>
                      </div>
                </div>
                
                <div class="card-body">
                    Corpo da Atividade
                </div>

            </div>

        </div>

        <div class="col-sm col-md-6 col-xl-3">

            <div class="card mt-2">
    
                <div class="card-header pl-2 pr-0">
                    <div class="d-flex flex-row">
                        <div class="align-middle">
                            <div class="bola bg-primary text-white font-weight-bold">
                                <i class='fas'>&#xf058;</i>
                            </div>
                        </div>
                        <div class="pl-2 pr-2">
                            <h3>Teste maluco do Bruno para saber se cabe</h3>
                        </div>
                      </div>
                </div>
                
                <div class="card-body">
                    Corpo da Atividade
                </div>

            </div>

        </div>   
        
        

    </div>

</section>

