<!DOCTYPE html>
<html>
    <head>
        <%- include('meta') %>
        <title>Calculadora de Distância</title>
    </head>
    <body>
        <%- include('nav') %>
        Testando e provando...
    </body>
    <%- include('scripts'); %>
</html>