<!DOCTYPE html>
<html>
    <head>
        <title>PBSC: Academia</title>
        <%- include('meta'); %>
    </head>
    <body>
        <%- include('nav'); %>
        <header class="container">
            <hr>
            <h1>Bem Vindo, <%= user.username %>!</h1>
        </header>
        <main class="container">
            <h2>Musculação HOME</h2>
        </main>
    </body>
    <%- include('scripts'); %>
</html>
