<!DOCTYPE html>
<html>
    <head>
        <title>Login - PBSC</title>
        <%- include('meta'); %>
        <link rel="stylesheet"  type="text/css" href="../styles/login.css">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    </head>
    <body>
        <div id="esq">
            <div class="logo"></div>
        </div> 
        <div id="dir">
            <div class="container menu">
                <p class="tit">Login Simplificado</p>
                <hr>
                <p>Primeiro acesso? Tanto faz...escolha uma das opções abaixo:</p>
                <div>
                    <ul class="list-group list-group-horizontal font-weight-bold">
                        <li class="list-group-item list-group-item-action">
                            <a href="/auth/google" class="text-danger text-decoration-none ico">
                                <img src="/img/ico_gmail.jpg">
                                <br>
                                Google
                            </a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="/auth/linkedin" class="text-primary text-decoration-none ico">
                                <img src="/img/ico_linkedin.jpg">
                                <br>
                                LinkedIn
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
    <%- include('scripts'); %>
</html>
