<!DOCTYPE html>
<html>
    <head>
        <title>Login - PBSC</title>
        <%- include('meta'); %>
        <link rel="stylesheet"  type="text/css" href="../styles/login.css">
    </head>
    <body>
        <div id="esq">
            <div class="logo"></div>
        </div> 
        <div id="dir">
            <div class="container menu">
                <p class="tit">Login Simplificado</p>
                <hr>
                <p>Primeiro acesso? Tanto faz...escolha uma das opções abaixo:</p>
                <div>
                    <ul class="list-group list-group-horizontal font-weight-bold">
                        <li class="list-group-item list-group-item-action">
                            <a href="/auth/google" class="text-danger text-decoration-none ico">
                                <i class='fab fa-google'  style="font-size: 29px"></i>
                                <br>
                                Google+
                            </a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="/auth/linkedin" class="text-primary text-decoration-none ico">
                                <i class='fab fa-linkedin' style="font-size: 32px"></i>
                                <br>
                                LinkedIn
                            </a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="#!" onclick="alert('Login via Facebook desabilitado temporariamente')" class="text-dark text-decoration-none ico">
                                <i class='fab' style="font-size: 32px">&#xf082;</i>
                                <br>
                                Facebook
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
    <%- include('scripts'); %>
</html>
