<!DOCTYPE html>
<html>
    <head>
        <title>Planejamento: Lista de Iniciativas</title>
        <%- include('meta'); %>        
        <link rel="stylesheet" type="text/css" href="../styles/main.css">
    </head>
    <body>
        <%- include('nav'); %>
        <main class="container">
            <section>
                <div class="row mgresp" id="Ini"></div>
            </section>
        </main>
    </body>
    <%- include('scripts'); %>
    <script src="../src/todasIniciativas.js" type="text/javascript"></script>
    <script src="../src/botao_excluir.js" type="text/javascript"></script>
    <script src="../src/botao_concluir.js" type="text/javascript"></script>
    <script src="../src/botao_andamento.js" type="text/javascript"></script>
    <script src="../src/emconstrucao.js" type="text/javascript"></script>
    <script src="../src/expandirCard.js" type="text/javascript"></script>
    <script src="../src/colorirStatus.js" type="text/javascript"></script>
    <script src="../src/stringDataBr.js" type="text/javascript"></script>
</html>

