<!DOCTYPE html>
<html>
  <head>
    <title>Mapa da Localização Atual</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=nt&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 95%;
        width: 75%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src="../src/localizacao.js"></script>
  </head>
  <body>
    
    <div id="map"></div>
  </body>
</html>
