<!DOCTYPE html>
<html>
  <head>
    <%- include('meta'); %>
    <title>Mapa da Localização Atual</title>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      defer
    ></script>
    <script src="../src/localizacao.js"></script>
  </head>
  <body>
    <%- include('nav'); %>
    <div id="map"></div>
    <%- include('btnLocalAtual'); %>
  </body>
</html>
