<!DOCTYPE html>
<html>
    <head>
        <title>Planejamento: Lista de Objetivos</title>
        <%- include('meta'); %>
    </head>
    <body>
        <%- include('nav'); %>

        <main class="container"> 

            <section class="mgresp">
            
                <div class="row" id="Obj">

                </div>
            
            </section>
            
        </main>
        
    </body>
    <%- include('scripts'); %>
    <script src="../src/todosObjetivos.js" type="text/javascript"></script>
    <script src="../src/botao_excluir.js" type="text/javascript"></script>
    <script src="../src/botao_concluir.js" type="text/javascript"></script>
    <script src="../src/botao_andamento.js" type="text/javascript"></script>
    <script src="../src/emconstrucao.js" type="text/javascript"></script>
    <script src="../src/expandirCard.js" type="text/javascript"></script>
    <script src="../src/colorirStatus.js" type="text/javascript"></script>
    <script src="../src/ajustaDataBr.js" type="text/javascript"></script>
    <script src="../src/titulo.js" type="text/javascript"></script>

</html>

