<div id="accordion">
    <div class="card rounded-lg">
      <div class="card-header rounded-lg bgBtnMain bgBtnMain1 h5 p-2" id="headingOne">
        <h5 class="mb-0">
          <button 
            class="btn btn-link hoverBtnMain" 
            data-toggle="collapse" 
            data-target="#collapseOne" 
            aria-expanded="true" 
            aria-controls="collapseOne"
          >
            <i class='fas iconHome'>&#xf073;</i>
            <span class="txtHome">PLANEJAMENTO</span>
          </button>
        </h5>
      </div>
  
      <div id="collapseOne">
        <div class="card-body">
            <div class="row text-center">
                <div class="col">
                    <a href="/ativ/nova" class="link">
                        <img src="../img/startup-vector-free-icon-set-25.png" class="icoHome">
                        <br>
                        <span class="legico">Criar Atividades</span>
                    </a>                
                </div>
                <div class="col">
                    <a href="/ini/nova" class="link">
                        <img src="../img/project-management-vector-free-icons-set--22.png" class="icoHome">
                        <br>
                        <span class="legico">Criar Iniciativas</span>
                    </a>
                </div>
                <div class="col">
                    <a href="/obj/nova" class="link"> 
                        <img src="../img/project-management-vector-free-icons-set--31.png" class="icoHome">
                        <br>
                       <span class="legico">Criar Objetivos</span>
                    </a>
                </div>
                <div class="col">
                    <a href="/ativ" class="link">
                        <img src="../img/business-vector-free-icon-set-39.png" class="icoHome">
                        <br>
                        <span class="legico">Ver Atividades</span>
                    </a>                
                </div>
                <div class="col">
                    <a href="/ini" class="link">
                        <img src="../img/strategy-vector-free-icons-set-21.png" class="icoHome">
                        <br>
                        <span class="legico">Ver Iniciativas</span>
                    </a>
                </div>
                <div class="col">
                    <a href="/obj" class="link">
                        <img src="../img/startup-vector-free-icon-set-30.png" class="icoHome">
                        <br>
                        <span>Ver Objetivos</span>
                    </a>
                </div>
                <div class="col">
                    <a href="/map" class="link">
                        <img src="../img/strategymap.png" class="icoHome py-3">
                        <br>
                        <span>Mapa Estratégico</span>
                    </a>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
