<!DOCTYPE html>
<html>
    <head>
        <title>PBSC: Planejamento</title>
        <%- include('meta'); %>
    </head>
    <body>
        <%- include('navPlan'); %>
        <header class="container mb-0">
            <hr>
            <h1>Planejamento</h1>
        </header>
        <main class="container">
            <h2>Dashboard</h2>
            <section>
                <main class="container">
                    <%- include('dashboard'); %>
                </main>
            </section>
        </main>
    </body>
</html>

