<!DOCTYPE html>
<html>
    <head>
        <%- include('meta'); %>
        <title>Página Principal</title>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="../img/ico_wh2x2.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../styles/main.css">
        <link rel="stylesheet" type="text/css" href="../styles/hr.css">
    </head>
    <body>
        <%- include('nav'); %>
        
        <br><br>
        <header class="container mt-5">
            <h1>Olá <%= user.username %></h1>
            <hr>
            <h2>Escolha uma das opções</h2>
        </header>
        <main class="container">
           
            <div class="grid mx-3">
                <div class="row">
                    <div class="col bg-dark text-white h5 p-2 rounded">Planejamento</div>
                </div>
                <div class="row text-center">
                    <div class="col-4">
                        <a href="/ativ" class="link">
                            <img src="../img/startup-vector-free-icon-set-25.png" style="width: 9vw;" class="my-2">
                            <br>
                            <span class="legico">Criar Atividades</span>
                        </a>                
                    </div>
                    <div class="col-4">
                        <a href="/ativ" class="link">
                            <img src="../img/project-management-vector-free-icons-set--22.png" style="width: 9vw;" class="my-2">
                            <br>
                            <span class="legico">Criar Iniciativas</span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="/ativ" class="link"> 
                            <img src="../img/project-management-vector-free-icons-set--31.png" style="width: 9vw;" class="my-2">
                            <br>
                           <span class="legico">Criar Objetivos</span>
                        </a>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-4">
                        <a href="/ativ" class="link">
                            <img src="../img/business-vector-free-icon-set-39.png" style="width: 9vw;" class="my-2">
                            <br>
                            <span class="legico">Ver Atividades</span>
                        </a>                
                    </div>
                    <div class="col-4">
                        <a href="/ativ" class="link">
                            <img src="../img/strategy-vector-free-icons-set-21.png" style="width: 9vw;" class="my-2">
                            <br>
                            <span class="legico">Ver Iniciativas</span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="/ativ" class="link">
                            <img src="../img/startup-vector-free-icon-set-30.png" style="width: 9vw;" class="my-2">
                            <br>
                            <span class="legico">Ver Objetivos</span>
                        </a>
                    </div>
                </div>

            </div>

            <br>
            
        </main>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </body>
</html>
