<!DOCTYPE html>
<html>
    <head>
        <title>Corridas: Recordes</title>
        <%- include('meta'); %>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="../src/recordesCorridas.js"></script>
        <script src="../src/transSegMin.js"></script>
    </head>
    <body>
        <%- include('nav'); %>
        <br><br><br>
        <main class="container mt-5">
            <div class="row " >
                <div class="col-0 mr-2">
                    <div><strong>Distância</strong><br><em>(Km)</em></div>
                    <div><strong>KM1&nbsp;</strong></div>
                    <div><strong>KM2&nbsp;</strong></div>
                    <div><strong>KM3&nbsp;</strong></div>
                    <div><strong>KM4&nbsp;</strong></div>
                    <div><strong>KM5&nbsp;</strong></div>
                    <div><strong>KM6&nbsp;</strong></div>
                    <div><strong>KM7&nbsp;</strong></div>
                    <div><strong>KM8&nbsp;</strong></div>
                    <div><strong>KM9&nbsp;</strong></div>
                    <div><strong>KM10&nbsp;</strong></div>  
                    <div><strong>KM11&nbsp;</strong></div>
                    <div><strong>KM12&nbsp;</strong></div>
                    <div><strong>KM13&nbsp;</strong></div>
                    <div><strong>KM14&nbsp;</strong></div>
                    <div><strong>KM15&nbsp;</strong></div>
                    <div><strong>KM16&nbsp;</strong></div>
                    <div><strong>KM17&nbsp;</strong></div>
                    <div><strong>KM18&nbsp;</strong></div>
                    <div><strong>KM19&nbsp;</strong></div>
                    <div><strong>KM20&nbsp;</strong></div>
                    <div><strong>KM21&nbsp;</strong></div>
                </div>
                <div class="col-0 mr-2">
                    <div><strong>Melhor Tempo no KM</strong><br><em>(Min/Seg)</em></div>
                    <div id="RKm1"></div>
                    <div id="RKm2"></div>
                    <div id="RKm3"></div>
                    <div id="RKm4"></div>
                    <div id="RKm5"></div>
                    <div id="RKm6"></div>
                    <div id="RKm7"></div>
                    <div id="RKm8"></div>
                    <div id="RKm9"></div>
                    <div id="RKm10"></div>
                    <div id="RKm11"></div>
                    <div id="RKm12"></div>
                    <div id="RKm13"></div>
                    <div id="RKm14"></div>
                    <div id="RKm15"></div>
                    <div id="RKm16"></div>
                    <div id="RKm17"></div>
                    <div id="RKm18"></div>
                    <div id="RKm19"></div>
                    <div id="RKm20"></div>
                    <div id="RKm21"></div>
                </div>
                <div class="col-0 mr-2">
                    <div><strong>Melhor Tempo até o KM</strong><br><em>(Min/Seg)</em></div>
                    <div id="SAKm1"></div>
                    <div id="SAKm2"></div>
                    <div id="SAKm3"></div>
                    <div id="SAKm4"></div>
                    <div id="SAKm5"></div>
                    <div id="SAKm6"></div>
                    <div id="SAKm7"></div>
                    <div id="SAKm8"></div>
                    <div id="SAKm9"></div>
                    <div id="SAKm10"></div>
                    <div id="SAKm11"></div>
                    <div id="SAKm12"></div>
                    <div id="SAKm13"></div>
                    <div id="SAKm14"></div>
                    <div id="SAKm15"></div>
                    <div id="SAKm16"></div>
                    <div id="SAKm17"></div>
                    <div id="SAKm18"></div>
                    <div id="SAKm19"></div>
                    <div id="SAKm20"></div>
                    <div id="SAKm21"></div>
                </div>
            </div>
        </main>
    </body>    
</html>

