body{
    font-family: arial;
    color: #343a40;
    margin: 0;
    text-decoration: none;
}

.logo{
    width: 5vw;
    vertical-align: middle;
    margin: auto;
}

.cartao{
    transition: all 300ms ease-in-out;
}

.botao{
    margin: 1vh 0vh;
    padding: 1.5vh;
    width: 45%;
    height: 100%;
    display: inline-block;
    line-height: 100%;
    font-size: 1em;
    text-align: center;
    border-radius: 2px;
}

.gruda1{
    margin-top: 4.0em;
}
.gruda2{
    margin-top: 4.0em;
    padding: 0.1em 0em;
}
.gruda3{
    margin-top: 1em;
}

ul {
    list-style: none;
}

.link:link, .link:visited, .link:hover, .link:active {
    text-decoration: none;
    font-weight: bold;
    padding: 1vh;
    margin: 10vh 0vh;
    color: #000000;
}

.link:hover{
    color: #0B00FF;
}

.bgRED {
    background-color: #FF0002;
}
.txRED {
    color: #FF0002;
}

.bgYEL {
    background-color: #FFC500;
}
.txYEL {
    color: #FFC500;
}

.bgCIN {
    background-color: #808080;
}
.txCIN {
    color: #808080;
}

.bgGRE {
    background-color: #12A802;
}
.txGRE {
    color: #12A802;
}

.bgBLU {
    background-color: #0B00FF;
}
.txBLU {
    color: #0B00FF;
}

.bgBLK {
    background-color: #000000;
}
.txBLK {
    color: #000000;
}

.navtxt {
    font-size: 4vh;
}

.navico {
    font-size: 1.5em;
}

.legico {
    font-size: 2vw;
}

.teste {
    font-size: 2vh;
}

@media (max-width: 600px) {
    .legico {
        font-size: 4vw;
    }
    .supico {
        display: none;
    }
}

.mgresp{
    margin-top: 120px;
    margin-bottom: 20px;
}

.fmresp{
    margin-top: 100px;;
}

@media (max-width: 1200px) {
    .mgresp {
        margin-top: 120px;
    }
}

@media (max-width: 765px) {
    .btresp {
        margin-top: 20px;
    }    
}

@media (max-width: 530px) {
    .mgresp {
        margin-top: 200px;
    }
}

@media (max-width: 465px) {
    .mgresp {
        margin-top: 160px;
    }
}

@media (max-width: 386px) {
    .fmresp {
        margin-top: 160px;
    }
}