

.localIco{
    color: white;
    position: fixed;
    right: 0.75em;
    font-size: 1.5rem;
    padding: 0.75rem;
    z-index: +1;
}
.localIco1{
    background-color: #0B00FF;
    bottom: 50%;
}
.localIco2{
    background-color:#FF0002;
    bottom: 40%;
}
.localIco3{
    background-color:#12A802;
    bottom: 30%;
}
#map {
    height: 100%;
    width: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }