

.localIco{
    color: white;
    font-size: 1.5rem;
    z-index: +1;
    border-radius: 2rem;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    padding: 0.25em;
    margin: 0.25em;
}
.localIco1{
    position: fixed;
    background-color: #0B00FF;
    bottom: 50%;
    right: 0rem;
    width: 2em;
    height: 2em;
    
}

.localIco2, .localIco3{
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 40%;
}
.localIco2{
    background-color:#12A802;
}
.localIco3{
    background-color:#FF0002;
}

#map {
    height: 100%;
    width: 100%;
}

.disPlay {
    position: fixed;
    top:9%; 
    width: 100%;
    z-index: 1 !important;
    background-color: #000000;
    color: #ffffff;
    padding-left: 1em;
    padding-right: 2em;
}

.limiteDisplay {
    max-width: 500px;
}

@media(min-width: 990px) {
    .disPlay {
        top: 12.5%;
    }
}

@media(max-height: 569px) {
    .disPlay {
        top: 8.5%;
    }
}
@media(min-height: 800px) {
    .disPlay {
        top: 6%;
    }
}
@media(min-height: 1100px) {
    .disPlay {
        top: 7%;
    }
}



.item {
    margin-top: 0.7em;
    margin-left: 0.5em;
}

.legDisplay {
    font-size: 0.5em;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    margin-bottom: 0.5rem;
}

.txtDisplay {
    font-size: 1.5em;
    font-weight: bold;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }